@font-face{
    font-family: kaushan-script;
    src:url(../fonts/kaushan-script.ttf)
}
body{
    background-color: #ADE8F4;
    font-family: sans-serif;
    margin: 0;
}
#header{
    background-image: url(../images/banner1.jpg);
    height:15vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#header>h1{
    text-align: center;
    color:#ffffff;
    font-family: kaushan-script;
    font-size: 90px;
    padding:1%;
    margin: auto;
}
#header>p{
    text-align: center;
    color:#ffffff;
    font-family: kaushan-script;
    font-size: 40px;
    margin: -7% 0% 0% 42%;
}
.article-odd , .article-even{
    height: fit-content;
    width: 80%;
    background-color:#90E0EF;
    margin:auto;
    margin-top: 2%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: center;;
    padding:5%;
}
.article-img{
    color:#03045E;
    text-align: left;
}
.article-img>img{
    height: 170px;
    width: 170px;
    margin: auto;
    border-radius: 50%;
    border: #ffffff 8px solid;
}
.article-content{
    color: #023e8a;
    font-size: 25px;
    text-align: left;
    width: fit-content;}
    #vid>iframe{    
        display: block;
        padding: 1%;
        margin:auto;
        scale:10x;
    }
      #end{
        display: block;
        background-color: #023e8a;
        margin-top:4%;
        height: auto;
        color: #ffffff;
        padding: 3%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        font-size:larger ;
      }


@media screen and (min-width:1024px){
    #header{
        height:30vh;
        width:100%;
        margin:0% 0% 0 0 ;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #header>p{
        margin-right: 7%;
        margin-top:-5%;
    }
    .article-odd , .article-even{
        height: fit-content;
        width: 70%;
        margin: 2%;
        border-radius: 20px;
        display: grid;
        text-align: center;
        grid-template-columns: 35% 65%;
        padding:5%;
    }
    .article-even{
        float:right;
    }
    .article-odd{
        float: left;
    }
    .article-odd:hover , .article-even:hover{
       background-color: #CAF0F8;
    }

    .active, .collapsible:hover {
        background-color: #48CAE4;
      }
    .article-content {
        padding: 0 18px;
        font-size: 20px;
    }
      #vid>iframe{
        margin: auto;
        display: inline-block;
        
      }
      #end{
        display: block;
        height: auto;
        color: #ffffff;
        padding: 3%;
        font-size:larger ;
      }
}
